<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_cancel_after">
        <observer name="cancel_ghtk_order" instance="Ecom\Ghtk\Observer\CancelOrder"/>
    </event>
</config>